<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Firebase Authentication</title>
  </head>
  <body>
    <div class="title">
      <h1>Firebase Authentication Template</h1>
    </div>
    <div class="navbar">
      <a href="#" onclick="openModal('signin-modal')" class="navbar-button"
        >Sign In</a
      >
      <a href="#" onclick="openModal('signup-modal')" class="navbar-button"
        >Sign Up</a
      >
    </div>
    <div id="signin-modal" class="modal">
      <div class="modal-content">
        <div style="width: 100%; display: flex; justify-content: end; gap: 30%">
          <h2>Sign In</h2>
          <button class="close-button" onclick="closeModal('signin-modal')">
            X
          </button>
        </div>
        <form id="signin-form">
          <div
            style="
              display: grid;
              grid-template-columns: 1fr;
              row-gap: 1rem;
              justify-items: center;
            "
          >
            <input
              type="email"
              id="signin-email"
              placeholder="Email"
              class="modal-input"
              required
            />
            <input
              type="password"
              id="signin-password"
              placeholder="Password"
              class="modal-input"
              required
            />
            <button type="submit" class="modal-button">Sign In</button>
          </div>
        </form>
      </div>
    </div>

    <div id="signup-modal" class="modal">
      <div class="modal-content">
        <div style="width: 100%; display: flex; justify-content: end; gap: 30%">
          <h2>Sign Up</h2>
          <button class="close-button" onclick="closeModal('signup-modal')">
            X
          </button>
        </div>
        <form id="signup-form">
          <div
            style="
              display: grid;
              grid-template-columns: 1fr;
              row-gap: 1rem;
              justify-items: center;
            "
          >
            <input
              type="email"
              id="signup-email"
              placeholder="Email"
              class="modal-input"
              required
            />
            <input
              type="password"
              id="signup-password"
              placeholder="Password"
              class="modal-input"
              required
            />
            <button type="submit" class="modal-button">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function openModal(id) {
        document.getElementById(id).style.display = "flex";
      }
      function closeModal(id) {
        document.getElementById(id).style.display = "none";
        document.getElementById("signup-form").reset();
        document.getElementById("signin-form").reset();
      }
    </script>
    <script src="/static/js/signup.js" type="module"></script>
    <script src="/static/js/signin.js" type="module"></script>
  </body>
</html>
